<div class="container">
<h1><%= t("restaurants.new.add_restaurant") %></h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
    <%= f.input :phone_number, input_html: { type: 'number' }%>
    <%= f.input :category %>
    <%= f.submit t("restaurants.new.add_restaurant") %>
  <% end %>
</div>
