<div class="container">
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
    <%= f.input :phone_number, input_html: { type: 'number' }%>
    <%= f.input :category %>
    <%= f.submit t("restaurants.new.add_restaurant") if @restaurant.new_record? %>
    <%= f.submit t("restaurants.edit.update") if @restaurant.persisted? %>
  <% end %>
</div>
